<!-- <div class="jumbotron text-center">
        <h1>contact page</h1>
        <p>This page demonstrates <span class="text-danger">register</span> of <span class="text-danger">student and recruiter</span></p>
</div> -->

<!-- grid has 12 column
bootstrap class row and col 
col-4 col -8 
sm, md, lg can be added to give them to specific devices
justify-content-center 
justify-content-start
justify-content-end
                -around
                -between
align-items-start ---------used for aligning items based on how much ever the content is 
            -center
           -stretch -----which is default
alig-self-start -------it supports specific to a row -->

<div class ="container" style="background-color:whitesmoke;border-radius:10px">
        <div style="padding-bottom:25px;padding-right:10px;padding-left:10px;padding-top:20px"> 
            </br>
            <div style="background-color:#241571; border-radius: 20px">
                </br>
                <img ng-src="assets/images/empty_profile.jpg" class="round" width="130"  height="130" style="padding-left:20px;padding-top:15px">
                <div class="edit">
                    <div>
                        <input class="btn btn-primary btn-lg" type="button" ng-click="editProfile()" value="Edit">
                    </div>
                </div>
                <div class="center">
                <p> 
                    <!-- <i class="fa fa-pencil" ng-click="EditProfile()" style="font-size:30px;margin-left:70px;color:#33adff;border-radius:0px;cursor:pointer; "></i> -->
                </p>  
                </div>
                </br>
            </div>
            
            <hr>
            <div class="row">
                <div class="col-3">
                    <div class="container mybox">
                        <div>
                            <b>{{user.name}}</b>
                            </br>
                            <span>looking for job &nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <!-- <label class="switch movelft">
                                <div class="">
                                    <input  type="checkbox" ng-model="user.isJob" ng-click="myfunc(user.isJob)">
                                    <span class="slider round"></span>
                                </div>    
                            </label> -->
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                  <input type="radio" name="options" ng-model="user.option" ng-value="yes"> Yes 
                                </label>
                                <label class="btn btn-primary">
                                  <input type="radio" name="options" ng-model="user.option"  ng-value="no"> No
                                </label>
                            </div>
                        </div>
                        <span><b>Designation</b></span>
                        <br>
                        <span class="text_blue">{{user.designation}}</span>
                        <br>
                        <span><b>Mail ID</b></span>
                        <br>
                        <span class="text_blue">{{user.email}}</span>
                        <br>
                        <span><b>Bio</b></span>
                        <br>
                        <span class="text_blue">{{user.bio}}</span>
                        <br>
                        <span><b>contact</b></span>
                        <br>
                        <span class="text_blue">{{user.contact}}</span>
                        <br>
                        <span><b>college</b></span>
                        <br>
                        <span class="text_blue">{{user.college}}</span>
                    </div>
                </div>
                <div class="col-9">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">About yourself</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Resume</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu3">Roles & experience</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home" class="container tab-pane active"><br>
                        <p>{{content.about}}</p>
                        </div>
                        <div id="menu1" class="container tab-pane fade"><br>
                        <h3>Upload Resume</h3><br>
                        <input class="btn btn-primary" type="file"/>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href={{cvLink}}>{{cvLink}} </a>
                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                        <h3>Skills</h3>
                        <p>{{content.skills}}</p>
                        </div>
                        <div id="menu3" class="container tab-pane fade"><br>
                            <p>{{content.roles}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>