<div class="jumbotron text-center">
    <div class="omb_login">
        <h1 class="omb_authTitle">Register</h1>
        <p>{{message}}</p>
        <p>{{registerMessage}}</p>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form name="registerform" class="omb_loginForm" action="" autocomplete="off" method="POST"
                      ng-submit="register()" novalidate>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="name" placeholder="Full Name"
                               ng-model="user.name" ng-required="true">
                    </div>

                    <span class="error validationerror" ng-show="registerform.name.$invalid && registerform.name.$touched">Name is required</span>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email Id"
                               ng-model="user.email" ng-required="true">
                    </div>

                    <span class="error validationerror" ng-show="registerform.email.$invalid && registerform.email.$touched">Enter valid Email</span>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Password"
                                ng-model="user.password" ng-required="true">
                    </div>
                    <span class="error validationerror" ng-show="registerform.password.$invalid && registerform.password.$touched">Password is required</span>
                    <span class="help-block"></span>

                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                            ng-disabled="registerform.$invalid">Register</button>
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me">Remember Me
                </label>
            </div>
            <div class="col-xs-12 col-sm-3">
                <p class="omb_forgotPwd">
                    <a href="#">Forgot password?</a>
                </p>
            </div>
        </div>
    </div>
</div>