<div class="jumbotron text-center">
        <div class="omb_login">
                <h1 class="omb_authTitle">Login </h1>
                <p>{{message}}</p>
                <p>{{loginMessage}}</p>
                <p>{{success}}</p>
                        <div class="row omb_row-sm-offset-3">
                                <div class="col-xs-12 col-sm-6">
                                        <form name="loginform" class="omb_loginForm" autocomplete="off"
                                              ng-submit="login()" novalidate>
                                                <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        <input type="email" class="form-control" name="email" placeholder="Email Id"
                                                         ng-model="user.email" ng-required="true">
                                                </div>
                                                <span class="error validationerror" ng-show="loginform.email.$invalid && loginform.email.$touched">Enter valid Email</span>
                                                <span class="help-block"></span>

                                                <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                        <input  type="password" class="form-control" name="password" placeholder="Password"
                                                        ng-model="user.password" ng-required="true">
                                                </div>
                                                <span class="error validationerror" ng-show="loginform.password.$invalid && loginform.password.$touched">Password is required</span>
                                                <span class="help-block"></span>

                                                <button class="btn btn-lg btn-primary btn-block" type="submit"
                                                        ng-disabled="loginform.$invalid">Login</button>      
                                        </form>
                                        <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                                </div>
                        </div>

                <div class="row omb_row-sm-offset-3 omb_loginOr">
                        <div class="col-xs-12 col-sm-6">
                                <hr class="omb_hrOr">
                                <span class="omb_spanOr"></span>
                        </div>
                </div>

                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                        <div class="col-xs-4 col-sm-2">
                                <a  class="btn btn-lg btn-block omb_btn-facebook" ng-click="facebookLogin()">
                                        <i class="fa fa-facebook visible-xs"></i>
                                        <span class="hidden-xs">Facebook</span>
                                </a>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                                <a ng-click="linkedinLogin()" class="btn btn-lg btn-block omb_btn-twitter">
                                        <i class="fa fa-linkedin visible-xs"></i>
                                        <span class="hidden-xs">Linkedin</span>
                                </a>
                        </div>
                        <div class="col-xs-4 col-sm-2">
                                <a ng-click="googleLogin()" class="btn btn-lg btn-block omb_btn-google">
                                        <i class="fa fa-google-plus visible-xs"></i>
                                        <span class="hidden-xs">Google</span>
                                </a>
                        </div>
                </div>

                <div class="row omb_row-sm-offset-3">
                                <div>
                                        <p>
                                                <a ui-sref="forgot_password">Forgot password?</a>
                                        </p>
                                </div>
                                <div>
                                        <p>
                                                <a ui-sref="register">Dont have an account? Register here</a>
                                        </p>
                                </div>
                        </div>
        </div>
</div>